@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Rakkas&display=swap');

/* Variáveis */
:root {
    --primary-color: #026773;
    --secondary-color: #3CA6A6;
    --text-color: #024959;
    --background-color: #F2E3D5;
    --button-hover: #012E40;
    --font-body: "Chocolate Classical Sans", serif;
    --font-titulo: "Rakkas", serif;
}

/* código omitido */